@model SchoDotCom.WebUI.ViewModels.Contact.ContactCreateViewModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-9">
        @if (Model.IsSent)
        {
            <p class="alert alert-success">
                <i class="glyphicon glyphicon-ok"></i>&nbsp;
                Message successfully sent. Redirecting to home page in <span id="redirectCounter">4</span> second(s)
            </p>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3 small" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3 small" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger small" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-3 small" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Message, 4, 44, new { htmlAttributes = new { @class = "form-control" } })
                            <p id="messageLenght" class="text-muted small">Type your message above</p>
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger small" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Send Message" class="btn btn-default" />
                            <br />
                            <p class="text-muted small">
                                Problem with the website?
                                <a class="small" href="https://github.com/stoyandimov/SchoDotCom/issues/new" target="_blank">
                                    Create a GitHub issue.
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
        <table class="pull-right">
            <tr>
                <td class="text-right">@@StoyanDimov </td>
                <td>
                    <a target="_blank" href="https://twitter.com/StoyanDimov">
                        <img src="~/Media/Images/social-link-icons/twitter-24.ico" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="text-right">stoyandimov</td>
                <td>
                    <a target="_blank" href="https://linkedin.com/in/stoyandimov">
                        <img src="~/Media/Images/social-link-icons/linkedin-24.ico" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="text-right">stoyandimov</td>
                <td>
                    <a target="_blank" href="https://github.com/stoyandimov">
                        <img src="~/Media/Images/social-link-icons/github-24.ico" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="text-right">stoyan-dimov</td>
                <td>
                    <a target="_blank" href="http://stackoverflow.com/users/1258925/stoyan-dimov">
                        <img src="~/Media/Images/social-link-icons/stackoverflow-24.ico" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="text-right">Microsoft Certification</td>
                <td>
                    <a target="_blank" href="http://www.mycertprofile.com/Profile/4978868885">
                        <img src="~/Media/Images/social-link-icons/windows-24.ico" />
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        // Message length counter
        $(function () {
            var message = $('#Message');
            var counter = $('#messageLenght');
            var msgPrefix = "Message lenght: ";
            message.keyup(function (e) {
                var len = message.val().length;
                counter.text(msgPrefix + len + " character" + (len > 1 ? "s" : ""));
            });
        });

        // Redirects home when message successfully sent
        $(function () {
            var redirectCounter = $('#redirectCounter');
            if (redirectCounter.length > 0) {
                var counter = setInterval(function () {
                    var count = redirectCounter.text();
                    redirectCounter.text(--count);
                    console.log(count);
                }, 1000);

                setTimeout(function () {
                    clearInterval(counter);
                    document.location = '/';
                }, 4000);
            }
        });
    </script>
}