@model SchoDotCom.WebUI.ViewModels.Contact.ContactViewModel
@{
	ViewBag.Title = "Contact";
}
<div class="row">
	<div class="col-contact col-md-8">
		<div class="col">
			<h2>@ViewBag.Title</h2>
			<hr />
			@if (Model.IsSent)
			{
				<p class="alert alert-success">
					<i class="glyphicon glyphicon-ok"></i>&nbsp;
					Message successfully sent. Redierecting to home page in <span id="redirectCounter">4</span> second(s)
				</p>
			}
			else
			{
				using (Html.BeginForm())
				{
					@Html.AntiForgeryToken()
					<div class="form-horizontal">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-4 small" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger small" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-4 small" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger small" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-4 small" })
							<div class="col-md-8">
								@Html.TextAreaFor(model => model.Message, 6, 44, new { htmlAttributes = new { @class = "form-control" } })
								<p id="messageLenght" class="text-muted small">Type your message above</p>
								@Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger small" })
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-4 col-md-8">
								<input type="submit" value="Send Message" class="btn btn-default" />
								<br />
							</div>
						</div>
					</div>
				}
				<p class="text-right text-muted">
					Problem with the website?
					<a href="https://github.com/stoyandimov/SchoDotCom/issues/new" target="_blank">
						Create a GitHub issue!
					</a>
				</p>
			}
		</div>
	</div>

	<div class="col-md-4">
		<div class="col">
			<h2>Links</h2>
			<div class="contact-social-media-container">
				<table class="table social-media-container">
					<tr>
						<td>
							<a target="_blank" href="https://twitter.com/StoyanDimov">
								<img src="~/Media/Images/twitter-24(2).ico" />
							</a>
						</td>
						<td>@@StoyanDimov </td>
					</tr>
					<tr>
						<td>
							<a target="_blank" href="https://linkedin.com/in/stoyandimov">
								<img src="~/Media/Images/linkedin-24(2).ico" />
							</a>
						</td>
						<td>stoyandimov</td>
					</tr>
					<tr>
						<td>
							<a target="_blank" href="https://github.com/stoyandimov">
								<img src="~/Media/Images/github-6-24(2).ico" />
							</a>
						</td>
						<td>stoyandimov</td>
					</tr>
					<tr>
						<td>
							<a target="_blank" href="http://stackoverflow.com/users/1258925/stoyan-dimov">
								<img src="~/Media/Images/stackoverflow-24(2).ico" />
							</a>
						</td>
						<td>stoyan-dimov</td>
					</tr>
					<tr>
						<td>
							<a target="_blank" href="http://www.mycertprofile.com/Profile/4978868885">
								<img src="~/Media/Images/os-windows-24(2).ico" />
							</a>
						</td>
						<td>Microsoft Cert. Profile MSID: 4978868885</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>





@section Scripts
{
	@Scripts.Render("~/bundles/jqueryval");
	<script type="text/javascript">
		// Message length counter
		$(function () {
			var message = $('#Message');
			var counter = $('#messageLenght');
			var msgPrefix = "Message lenght: ";
			message.keyup(function (e) {
				var len = message.val().length;
				counter.text(msgPrefix + len + " character" + (len > 1 ? "s" : ""));
			});
		});

		// Redirects home when message successfully sent
		$(function () {
			var redirectCounter = $('#redirectCounter');
			if (redirectCounter.length > 0) {
				var counter = setInterval(function () {
					var count = redirectCounter.text();
					redirectCounter.text(--count);
					console.log(count);
				}, 1000);

				setTimeout(function () {
					clearInterval(counter);
					document.location = '/';
				}, 4000);
			}
		});
	</script>
}