@using Microsoft.Extensions.Options
@inject IOptions<SchoDotCom.WebUI.Models.AppSettings> Settings
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoyanDimov.com</title>
    <link rel="icon" href="~/images/favicon.png" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-theme-paper/paper.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/bootstrap-theme-paper/paper.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @if (Settings.Value.RenderAppInsightsSnippet)
    {
        @Html.Raw(JavaScriptSnippet.FullScript)
    }
    @if (Settings.Value.RenderGoogleAnalyticsSnippet)
    {
        @Html.Partial("_GoogleAnalytics")
    }
</head>
<body id="homeBackground">
    <div id="pageHome">
        <header>
            <div class="container">
                <div class="avatar img-circle"></div>
                <h1>Stoyan Dimov</h1>
                <h4>web application developer</h4>
            </div>
        </header>
        <nav class="nav-container">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="pull-left social-media-container">
                        <a target="_blank" href="https://twitter.com/StoyanDimov">
                            <img src="~/images/social/twitter-24.ico" />
                        </a>
                        <a target="_blank" href="https://linkedin.com/in/stoyandimov">
                            <img src="~/images/social/linkedin-24.ico" />
                        </a>
                        <a target="_blank" href="https://github.com/stoyandimov">
                            <img src="~/images/social/github-24.ico" />
                        </a>
                        <a target="_blank" href="http://www.mycertprofile.com/Profile/4978868885">
                            <img src="~/images/social/windows-24.ico" />
                        </a>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <footer class="navbar-fixed-bottom">
            <p class="text-center">&copy; Copyright @DateTime.Now.Year, @Html.ActionLink("Stoyan Dimov", "Index", "Home")</p>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>