<footer class="navbar-fixed-bottom navbar-default container">
    <p class="pull-right">
        @Html.ActionLink("About", "About", "Home") |
        @Html.ActionLink("Resume", "Resume", "Home") |
        @Html.ActionLink("Contact", "Index", "Contact")
        @if (User.IsInRole("admin"))
            {
            @:| @Html.ActionLink("Admin Area", "Index", new { controller = "AdminHome", area = "Admin" })
            }
        @if (Request.IsAuthenticated)
            {
            @:| <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
    </p>
    <p>&copy; Copyright @DateTime.Now.Year, @Html.ActionLink("Stoyan Dimov", "Index", "Home")</p>
</footer>