<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(String.IsNullOrWhiteSpace(ViewBag.Title) ? "" : @ViewBag.Title + " | ") StoyanDimov.com</title>
    <link rel="icon" href="~/Media/Images/favicon.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_MainMenu")
    <header style="height:150px"></header>
    <main class="container">
        <div id="page@(ViewBag.Title)">
            @RenderBody()
        </div>
    </main>
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>